:root {
  --dark-bg-color: #202D36;
  --dark-accent-color: #2B3743;
  --dark-text-color: #FFFFFF;

  --light-bg-color: #FAFAFA;
  --light-accent-color: #FFFFFF;
  --light-text-color: #0F1012;

  --background-color: var(--dark-bg-color);
  --accent-color: var(--dark-accent-color);
  --text-color: var(--dark-text-color);
}

body {
  background-color: var(--background-color);
  font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#switch-theme:checked ~ #Page {
  --background-color: var(--light-bg-color);
  --accent-color: var(--light-accent-color);
  --text-color: var(--light-text-color);
}

.App {
  text-align: center;
}

#switch-theme {
  display: none;
}

#Page {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

#Topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--accent-color);
  padding: 16px 0;
  margin-bottom: 24px;
}

#Topbar h1 {
  font-size: 1.4rem;
}

#switch-theme-label {
  display: flex;
  align-items: center;
}

#switch-theme-label span {
  margin-right: 4px;
}

#switch-theme-label:hover {
  cursor: pointer;
}

#SearchControls {
  margin: 0 auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

#Search {
  border: none;
  border-radius: 8px;
  margin-bottom: 24px;
}

#Filter {
  width: fit-content;
  border: none;
  border-radius: 8px;
}

#Search, #Filter {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 16px 32px; /* filter looks bigger than search but only on desktop for whatever reason */
}

#Results {
  display: flex;
  flex-direction: column;
}

.Card {
  width: 16rem;
  background-color: var(--accent-color);
  text-align: start;
  margin: 0px auto 24px auto;
  transition: 0.3s scale;
  -webkit-box-shadow: 8px 8px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 16px -4px rgba(0,0,0,0.75);
  box-shadow: 8px 8px 16px -4px rgba(0,0,0,0.75);
}

.Card:hover {
  cursor: pointer;
  scale: 1.03;
}

.Card span {
  font-weight: bold;
}

.CardIcon {
  width: 100%;
  margin-bottom: 16px;
}

.TextContainer {
  padding: 0 24px;
}

.CardTitle {
  font-weight: bold;
}

.CardSubtitle {
  font-size: 16px;
}

.ModalContainer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ModalWindow {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 80%;
  text-align: start;
  margin: 0 auto;
  padding: 8px 16px 32px 16px;
}

.ModalWindow button {
  margin-bottom: 32px;
  background-color: var(--accent-color);
  border: none;
  color: var(--text-color);
  padding: 8px 20px;
}

.ModalWindow img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.ModalWindow span {
  font-weight: bold;
}

.ModalWindow h2 {
  margin-bottom: 16px;
}

.ModalBlockOne, .ModalBlockTwo {
  margin-bottom: 32px;
}

.ModalBlockThree span {
  font-size: large;
}



/* screen minimum width must be this for these styles to apply */
@media (min-width: 576px) {
  #SearchControls {
    flex-direction: row;
    justify-content: space-between;
  }

  #Search {
    margin: 0;
    width: 40%;
    max-width: 40rem;
  }

  #Results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .ModalBlockContainer {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  #Results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  #Results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}